#songlist-thumbs label, h2 label {
    display: inline;
    font-weight: normal;
}

#songlist #songlist-expand {
  display: none
}


#songlist   #songlist-expand + div label figure {
  margin-left: -50px;
  z-index:1;
  border: 1px solid gray;
  padding-left: 2px;
  background-color:rgba(255,255,255,0.8);
}

#songlist  #songlist-expand + div label:nth-child(2) figure {
  margin-left: 0;
  z-index:0;
}

#songlist  #songlist-expand + div label:nth-child(3) figure {
  margin-left: -20px;
}

#songlist #songlist-expand + div label:nth-child(4) figure {
  margin-left: -40px;
}

#songlist #songlist-expand:checked + div label figure {
  margin-left: 0;
  transition-timing-function:cubic-bezier(0,-0.4,1,1.8);
}


#songlist #songlist-expand + div #songlist-expander:before {
  font-size:40px;
  content:"»";
  display:block;
  float:left;
  height:70px;
  border: thin gray solid;
  width:48px;
  text-align: center;
  border-radius: 2px;
  background-color:#08f;
  color:white;

}

#songlist #songlist-expand:checked + div #songlist-expander:before {
  content:"«";
}

#songlist figure {
    vertical-align: top;
    position: relative;
	padding: 0;
	width: 50px;
        height: 70px;
	display: inline-block;
	margin: 0;
	transition-duration: 0.15s, 0.4s;
	transition-timing-function: linear;
	transition-property: transform, margin;
	padding-left: 2px;
	background-color: rgba(255,255,255,0.8);
}
#songlist #songlist-expand + div label .songselector:checked + figure, #songlist .songselector:checked +  figure figcaption {
    background-color: #AFA;
}
#songlist figure figcaption {
    position: absolute;
    top: 50px;
	font-size: 8px;
	overflow: hidden;
	width: 50px;
	max-height: 20px;
	display: block;
	margin-left: 5px;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
}
#songlist input.songselector {
    display: none;
}

#songlist label.songselector.lowlight {
    opacity: 0.5;
}

details > summary {
    position: relative;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:before {
  content: '►';
}

details[open] > summary:before {
  content: '▼';
}
#picker {
    padding: .5em;
    background-color: #eee;
    border-radius: 15px;
    margin-top:1em;
}

#covers img {
    height: 128px;
    width: 128px;
    margin: .5em;
    border: thin solid gray;
    border-radius: 50%;
}
